* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 18);
    background: url(../back.jpg);
    background-size: cover;
    object-position: center;
    /* background: linear-gradient(90deg, #369bb4 0%, #251b66); */
    color: #222;
    font-size: 1rem;
}

.temperature-converter {
    background: #f6f6f636;
    width: 100%;
    min-width: 320px;
    padding: 20px 25px 45px;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: -5px -5px 250px 0 rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 40px black;
}

.mobile {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    color: #1f1e1e;
    font-size: 1.5rem;
    text-align: center;
}

.result {
    text-align: center;
    margin: 20px 0;
}

.result-heading {
    color: #333232;
    font-size: 1rem;
    font-weight: 600;
}

.celsius-value {
    border-bottom: 2px solid#ccc;
    padding: 10px;
    transition: all .45s ease;
}

.degree-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.degree-field {
    display: flex;
    flex-direction: column;
    width: 46%;
}

label {
    color: #333232;
    font-size: .8rem;
    margin-bottom: 5px;
}

input,
select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #c5c4c4;
    padding: 8px;
    margin-bottom: 15px;
}

input:focus {
    border: 1px solid #4c49f3;
}

option {
    background: #3c39e7;
    color: #f6f6f6;
}

#convert-btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #1d1d35, #4542df);
    color: #f6f6f6;
    padding: 12px 80px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    transition: all .3s ease-in;
    text-transform: uppercase;
    cursor: pointer;
}

#convert-btn:hover {
    background: linear-gradient(to bottom, #201f3a, #39397a);
}

.fa{
    margin-left: -12px;
    margin-right: 8px;
}